/*
filename: style.css

author: OpenSOS, mainly Rodney

created: 27/3/2025

last modified: 27/3/2025

description: refers to index.html, about.html, apply.html and jobs.html
*/

/*Changes to website background colour*/
html, body{
    background: linear-gradient(90deg, #7373ad 0%, #9ba3b8 100%);
    background-size: 100% 100vh; /*Make the gradient scale with window size*/
    
    display: flex;
    flex-direction: column;
    height: 100%;

    border-left: 30px solid rgb(0, 0, 0);  /* Left border */
    border-right: 30px solid black; /* Right border */
    margin: 0;
    padding: 0;
}

/*Navigation Menu*/
nav{
    text-align: center;
}


/*Horizontal Line Formatting*/
hr{
    border: none; /* Remove default border */
    height: 4px; /* Set thickness */
    background-color: #212528; /* Set color */
    width: 100%; /* Full-width line */
}

/*Making footer at the bottom of page*/
main {
    flex: 1; /* Makes the main content take up all available space */
}

/* Footer styling */
footer {
    background: rgb(26, 25, 25);
    color: white;
    text-align: left;
    padding-left: 2px;
    display: inline-flex;
}

#Jira_link{
    margin-left: auto;
}
/************************************************************/
/*index.html specific CSS*/
/*HEADER LOGO FORMATTING*/
#header_logo{ 
    width: 350px;;
    display: block;
    margin: auto;
}

/*Fieldset Formatting*/
.company_description, .home_email{
    text-align: center;
    margin: 10px;
    border: 5px solid rgb(214, 203, 203);
    border-radius: 30px;
    box-shadow: 10px 10px 5px #1c1b1b;
}

/*Border Formatting*/
.side_textbar {
    position: fixed; /*Text is fixed at the side*/
    top: 0; /*Removes space at top and bottom*/
    bottom: 0;
    width: 60px; 
    background-color: rgb(0, 0, 0);
    color: rgb(108, 139, 144);
    font-size: 50px;
    text-align: center;

    /*Create a vertical flexbox*/
    display: flex; 
    flex-direction: column;
    writing-mode: vertical-rl; /*Makes the text vertical*/
    text-orientation: upright;
    
}

.left_side {
    left: 0;
}

.right_side {
    right: 0;
}

/*Formatting Home Nav Section*/
.home_nav{
    text-align: center;
}

.home_nav nav{
    display:flex;
    justify-content: center;

    justify-content: space-evenly; /* Distributes items evenly */
    align-items: center; /* Aligns items vertically */
     /* Adds spacing between items */
}

.home_nav a{ /*Removes the blue hyperlink line*/
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.home_nav img, .home_nav p{ /*Refers to the icons and the text*/
    width: 150px;
    padding-top: 15px;;
    transition: transform 0.1s ease-in-out; /* Smooth animation */
    gap: 20px;
    text-shadow: 1px 1px 2px #2a2828;;
}

/* Apply hover effect to both image and text */
.nav_item a:hover img, .nav_item a:hover p{
    transform: scale(1.2); /* Enlarges both image and text */
}

/*Changing text colour to stand out on background*/
.white-text {
    color: white;
}




